<div id="header">
  <img class="usjr-logo" src="assets/images/usjr-web-header-logo-B.png" alt="USJR Logo">
  <nav class="nav-bar">
    <a routerLink="/home" routerLinkActive="active-link">HOME</a>
    <a routerLink="/students" routerLinkActive="active-link">STUDENTS</a>
    <a routerLink="/colleges" routerLinkActive="active-link">COLLEGES</a>
    <a routerLink="/programs" routerLinkActive="active-link">PROGRAMS</a>
    <a routerLink="/departments" routerLinkActive="active-link">DEPARTMENTS</a>
  </nav>
</div>

<hr class="divider">

<div [@routeAnimations]="getAnimationState(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
