<div class="container">
  <div class="btn">
    <button (click)="addStudent()">Add Student</button>
  </div>
  <table class="student-table">
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>College</th>
      <th>Program</th>
      <th>Year</th>
    </tr>
    <tr *ngFor="let student of studentList" class="student-row" (click)="viewStudentDetails(student.studid)">
      <td> {{ student.studid }} </td>
      <td> {{ student.studfirstname }} </td>
      <td> {{ student.studmidname }} </td>
      <td> {{ student.studlastname }} </td>
      <td> {{ getCollegeFullName(student.studcollid) }}</td>
      <td> {{ getProgramFullName(student.studprogid) }} </td>
      <td> {{ student.studyear }} </td>
    </tr>
  </table>
</div>
