<form [formGroup]="programForm" (ngSubmit)="saveModifications()">
  <table id="table-entry">
    <tr>
      <th><label for="id">Program ID</label></th>
      <td><input type="number" id="id" formControlName="progid" ></td>
    </tr>
    <tr>
      <th><label for="fname">Program Full Name</label></th>
      <td><input type="text" id="fname" formControlName="progfullname"></td>
    </tr>
    <tr>
      <th><label for="mname">Program Short Name</label></th>
      <td><input type="text" id="mname" formControlName="progshortname"></td>
    </tr>
    <tr>
      <th><label for="college">College</label></th>
      <td>
        <select id="college" formControlName="selectedCollege">
          <option *ngFor="let college of collegeList" [ngValue]="college.collid">
            {{ getCollegeFullName(college.collid) }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="college">Department</label></th>
      <td>
        <select id="department" formControlName="selectedDepartment">
          <option *ngFor="let department of departmentList" [ngValue]="department.deptid">
            {{ getDepartmentFullName(department.deptid) }}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="buttons-cell" colspan="2">
        <button class="button btn-back" type="cancel" (click)="goBack()">Cancel</button>
        <button class="button btn-danger" type="delete" (click)="deleteProgram(program.progid)">Remove Program</button>
        <button class="button btn-primary" type="submit" (click)="saveModifications()">Update Program Details</button>
      </td>
    </tr>
  </table>
</form>
